[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tqdm = "*"
jupyterlab = "*"
scipy = "*"
pandas = "*"
requests = "*"
umap-learn = "*"

[dev-packages]

[requires]
python_version = "3.7"
